<%- include('../globals/header.ejs'); %>

    <div class="col-7 with-sidebar">
		<div class="floating_text run-animation text-center" data-float-duration='1' data-float-translate='2'>Welcome to Starlight.</div> <br>
						
		<script>
			$(document).ready(function(){
						
				var interval = 10000; // ms
				var expected = Date.now() + interval;
				setTimeout(step, interval);
				var last_value = 0;
				var index = 0;
							
				$(function() { FLOATING_TEXT.float(); });
								
				function step() {
					var dt = Date.now() - expected; // the drift (positive for overshooting)
					if (dt > interval) {
						// something really bad happened. Maybe the browser (tab) was inactive?
						// possibly special handling to avoid futile "catch up" run
					}
					while(index === last_value) {
						index = moonside[Math.floor(Math.random()*moonside.length)];
					}
					last_value = index;
					$('.floating_text').fadeTo(600, 0, function () {
						$(this).html(index);
						$(this).fadeTo(600, 1);
						FLOATING_TEXT.float();
					});

					expected += interval;
					setTimeout(step, Math.max(0, interval - dt)); // take into account drift
				}
			});
		</script>

		<div class="row">
			<div class="panel-avatar">
				<img src='https://i.imgur.com/DQjk1zB.png' style='max-width: 64px; height: auto; border-radius: 100%; position: relative; left: 4px;'>
			</div>
			<div class="postbox">
				<textarea id="content" type="text" name="content" placeholder="What's up?" data-max-chars="512" data-counter-element="#counter" style="width: 100%"></textarea>
				<br>
				<input id="file" name="file" type="file" accept="image/*" style="display: none;">
				<input type="hidden" name="mode" value="post">
				<span style="float: right;">
					<span class="submit"><input name="submit" type="submit" value="Post"></span>
				</span>
			</div>
		</div>

		<br>
		
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>
		<%- include('timeline.ejs'); %>

    </div>
	<%- include('../globals/side-panel.ejs'); %>